// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;

.footer {
  width: 100%;
  height: 150px;
  background-color: #4a7fc0;

  &__content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    max-width: 1140px;
    width: 100%;
    padding: 20px;
    margin: 0 auto;

    &-left {
      &-logo {
        img {
          height: 75px;
        }
      }

      &-copyright {
        font-family: 'Titillium Web', sans-serif;
        font-size: 13px;
        font-weight: 400;
        color: #b4d4fa;
        margin-top: 5px;
        margin-bottom: 15px;
        text-align: justify;
      }
    }

    &-menu {
      text-align: right;

      &__content {
        margin-top: 10px;

        &-item {
          font-family: 'Titillium Web', sans-serif;
          text-decoration: none;
          font-weight: 400;
          color: #b4d4fa;
          font-size: 14px;
          text-transform: uppercase;
          transition: all 0.4s;

          &.facebook {
            img {
              margin-top: -15px;
            }
          }

          &.active,
          &:hover {
            color: #fff;
          }

          & + & {
            margin-left: 10px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: $screen-lg-min) {
  .footer {
    position: relative;
    &__content {
      &-left {
        margin-top: 20px;
      }

      &-menu {
        &__content {
          position: absolute;
          top: 10px;
          right: 20px;
        }
      }
    }
  }
}

@media screen and (max-width: $screen-md-min) {
  .footer {
    height: auto;

    &__content {
      display: block;

      &-menu {
        &__content {
          position: unset;

          &-item {
            background: #063d83;
            font-style: normal;
            font-size: 18px;
            padding: 10px !important;
            margin-bottom: 10px;
            width: 100%;
            border-radius: 3px;
            text-align: center;
            display: block;

            &.facebook img {
              margin-top: -5px;
            }

            & + & {
              margin-left: 0;
            }
          }
        }
      }
    }
  }
}